rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSubscriptionActive(schoolId) {
      let baseId = schoolId.split('_')[0];
      let subPath = /databases/$(database)/documents/subscriptions/$(baseId);
      // Logic: Allow if subscription exists and is not expired
      return exists(subPath) && get(subPath).data.expiryDate > request.time;
    }

    function getSubscriptionData(schoolId) {
      let baseId = schoolId.split('_')[0];
      let subPath = /databases/$(database)/documents/subscriptions/$(baseId);
      return get(subPath).data;
    }

    match /subscriptions/{schoolId} {
      allow read: if true;
      allow write: if request.resource.data.activationHash == "c93a215026f36ac783bcac8ba5e4bbea1c3cdb6c79d3824f9712143c44dbb0f3";
    }

    match /years/{docId} { allow read: if true; }
    match /terms/{docId} { allow read: if true; }

    // 4. SCHOOLS DATA
    match /schools/{schoolId} {
      allow read: if true;
      allow create: if true; 
      allow update: if isSubscriptionActive(schoolId);

      // Enforce Student Limits
      match /students/{studentId} {
        allow read: if true;
        allow write: if isSubscriptionActive(schoolId) && 
                     (request.method == 'delete' || 
                      !studentId.matches('^\\d+$') || 
                      int(studentId) <= getSubscriptionData(schoolId).maxStudents);
      }

      // Enforce Class Limits
      match /classes/{classId} {
        allow read: if true;
        allow write: if isSubscriptionActive(schoolId) && 
                     (request.method == 'delete' || 
                      !classId.matches('^\\d+$') || 
                      int(classId) <= getSubscriptionData(schoolId).maxClass);
      }

      match /{allSubcollections=**} {
        allow read: if true; 
        allow write: if isSubscriptionActive(schoolId);
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}